.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  min-height: 50vh;
}

.header {
  padding-bottom: 2rem;
}

.title {
  padding-bottom: 0.5rem;
}

.title .titleLink:hover {
  text-decoration: underline;
}

.learnMore {
  font-weight: bold;
  color: #2499A9;
}

.learnMore:hover {
  text-decoration: underline;
}

.description {
  padding-left: 0.75rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  width: 50%;
}

.serviceList {
  list-style-type: none;
  padding: 0;
}

.serviceList li {
  padding-bottom: 0.5rem;
}

.sublist {
  list-style-type: none;
  padding-top: 0.25rem;
  padding-left: 1.5rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
